#signup_section{
   background-color: silver; 
   padding-top:15px;
   padding-left:5px;
 }
 form label{
     margin-right:50px;
 }
 form input{
    border:2px solid black;
    border-radius:10px;
    left:70px;
       
 }
 #submit_btn{
     border:2px solid black;
    border-radius:10px; 
    padding:5px;
    margin-top:10px;
    left:30;
     
 }
 #submit_btn:hover{
    background-color:orange;
 }