
#subscribe_section{
    display:flex;
    background-color: #d1ffea;
}

#subscribe{
    margin-top:20px;
    margin-left:30px;
    padding:10px;
    
   
}
form input{
    border:2px solid black;
    border-radius:10px;    
}
#submit{
    border:2px solid black;
    border-radius:10px; 
    padding:5px;
    margin-top:10px;
}
#submit:hover{
    background-color:orange;
}
img{
    width:100%;
    height:auto;
}

    

